* {
  box-sizing: border-box;
}

section {
  width: 90%;
  max-width: 1400px;
  margin: auto;
  padding: 20px 0;
}

p {
  font-size: var(--type-small);
}

h1 {
  font-size: var(--type-xxx-large);
  line-height: var(--lh-sm);
}

h2 {
  font-size: var(--type-xx-large);
  line-height: var(--lh-sm);
}

h3 {
  font-size: var(--type-large);
  font-weight: 600;
}

.btn {
  display: inline-block;
  border-radius: 30px;
  text-decoration: none;
  cursor: pointer;
  box-shadow: var(--shadow-closest);
  border: none;
}

.btn:active {
  box-shadow: none;
}

.btn-primary {
  font-size: var(--type-small);
  padding: 15px 40px;
  background-color: var(--color-primary-300);
  color: var(--color-neutral-100);
  margin: 20px 0;
  transition: all 300ms;
}

.btn-primary:hover {
  background-color: var(--color-primary-350);
}