.drinks-intro h2 {
    text-align: center;
    margin: 30px 0 20px 0;
    color: white;
}

.drinks-intro p {
    text-align: center;
    color: var(--color-primary-450);
    font-weight: 600;
    font-size: var(--type-medium);
}

.drinks-intro img {
    max-width: 800px;
    display: block;
    margin: auto;
    border-radius: 7px;
    box-shadow: var(--shadow-close);
}

#add-drink-2 {
    display: block;
    margin: 30px auto;
    width: fit-content;
}