.main-banner {
    padding: 0;
    width: 100%;
    max-width: none;
    height: 500px;
    background-image: url('./beer-banner.jpg');
    background-position: center;
    background-size: cover;
  }
  
  .main-banner-content {
    background-color: var(--color-low-opacity-light);
    height: inherit;
    width: 100%;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  
  .main-banner h1 {
    color: var(--color-primary-400);
    margin: 20px 0;
  }
  
  .main-banner p {
    color: var(--color-neutral-500);
  }

  @media only screen and (min-width: 768px) {
    .main-banner-content {
        width: 50%;
    }
}